<div class="jumbotron">
  <h1 class="display-4">Hello, Watchers!</h1>
  <p class="lead">Watch movie with your own preferences, pay as you go, monthly, or become loyalers!.</p>
  <hr class="my-4">
  <p>Nitflix provides thousands of movie for you! Easily subscribe or rent!.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="/becomeMember" role="button">Subscribe Now</a>
  </p>
</div>
<h1>List Movies</h1>
<button routerLink="/add" class="btn"> Add New Movie </button>
<div class="card m-5 p-3">
  <div class="card-body">
    <table datatable [dtOptions]="dtConfig" [dtTrigger]="dtTrigger" class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Movie Id</th>
          <th scope="col">Title</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let movie of resData">
          <th scope="row">{{movie.id}}</th>
          <td>{{movie.name}}</td>
          <td>
            <button class="btn btn-danger" style="margin-right: 25px;" (click)="onDelete(movie.id)">Delete</button>
            <button routerLink="/detail/{{movie.id}}" class="btn btn-info"> Details </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

