<h1>List Of Members</h1>

<div class="card m-5 p-3">
  <div class="card-body">
      <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
          <thead>
          <tr>
              <th>Name</th>
              <th>Date of Birth</th>
              <th>Subscribed to Newsletter</th>
              <th>Membership Type Id</th>
              <th>More</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of customerList">
              <td>{{ item.name }}</td>
              <td>{{ item.dateOfBirth }}</td>
              <td>{{ item.isSubscribedToNewsLetter }}</td>
              <td>{{ item.membershipTypeId }}</td>
              <td>
                <button
                class="btn btn-danger"
                 style="margin-right: 25px; margin-bottom: 10px;"
                 (click)="onDelete(item.id)"
                mat-button>Delete</button>
                <button routerLink="/editCustomer/{{item.id}}/{{item.membershipTypeId}}" class="btn btn-info" style="margin-right: 25px;" mat-button>Detail</button>
              </td>
          </tr>
          </tbody>
      </table>
  </div>
</div>
